body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol{
    padding-left: 0;
    list-style-type: none;
    
}
img {
    display: block;
}
.container {
    margin: 0 auto;
    max-width: 1158px;
    padding: 0 15px 0 15px;
    
}
.header-content {
    border-bottom: 1px solid #E7E9FC;
}
.container-head {
    display: flex;
    gap: 40px;
}
.nav-size {
    display: flex;
    align-items: center;
    text-decoration: none;
   
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-studio {
   color: #2e2f42
}
.navigation-list {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}
.navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.navigation:hover,
.navigation:focus {
color: #404bbf;
}
.address-style {
   font-style: normal;
   line-height: 1.5;
   letter-spacing: 0.02em;
   font-weight: 400;
   font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 40px;
}
.address {
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    
}
.navigation-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;

}
.navigation-address:hover,
.navigation-address:focus {
color: #404bbf;
}

.hero-image {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-text {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
}
.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: block;


}
.button:hover,
.button:focus {
    background-color: #404BBF
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    visibility: hidden;
}
.list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    
}
.section-two {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);

}
.section-two-list {
    width: calc((100% - 72px) / 4);
}
.section-two-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-three-fon{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.section-three-main {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #f4f4fd;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.section-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #ffffff;
    text-align: center;
    margin-top: 32px;
    padding-bottom: 8px;
    
}
.team-img {
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;
}
.section-three-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
    margin-bottom: 8px;
}
.section-three-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
    margin-bottom: 32px;
}
.section-four-fon {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #f4f4fd;
    text-align: center;
    text-transform: capitalize;
    margin-top: 120px;
    margin-bottom: 72px;
}
.portfolio-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    margin-bottom: 8px;
    width: calc((100% - 48px) / 3);
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.section-four-main {
    color: #2e2f42;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-four-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
.footer {
        background-color: #2e2f42;
        margin-top: 120px;
        padding: 100px 0;
    }
.footer-text {
    color: #f4f4fd;
    background-color: #2e2f42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;

}
.footer > .logo > .logo-studio {
    color: #f4f4fd;
}